body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    color: #333;
}

li {
    list-style: none;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.img_style {
    width: 100px;
}

#submit, #reset {
    margin-top: 10px;
}

.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

td:nth-child(3) {
    width: 40%;
}

td:nth-child(4) {
    width: 20%;
    text-align: center;
}

